#headerDiv{
	text-align: right;
	background-color: #658efc;
	color: white;
	border-bottom: 4px solid gray;	
	border-top: 2px solid gray;
	height: 15px;
	font-size: 12px; 
	font-weight: bold;
	padding-right: 10px;
	padding-top: 3px;
}

.user{
	border-right: 1px solid white;
	padding-right: 5px;
	width: 100px;
	float: right;
}

.logoutDiv{
	padding-right: 2px;
	width: 40px;
	float: right;
	font-size: 10px;
}

#lblLogout:hover{
	color: black;	
	cursor: pointer;
}
	
.maintenanceDiv{
	
	display: inline-block;
	padding: 200px 50px 50px 50px;
	position: relative;	
}	
	
img.userMImg{
	width: 200px;
	height: 200px;
	border-radius: 20px;
    border: 2px solid #9f9f9f;
}

img.userMImg:hover{
	border: 2px solid #13b6ec; ;	
	cursor: pointer;
}